:root {
  --dark: #2a3c24;
  --dark2: #7b2d26;
  --medium: #ada296;
  --peach: #e2856e;
  --light: #fefcfb;
}

body {
  background-color: var(--light);
  color: var(--dark);
  text-align: center;
}

div {
  width: 50px;
  height: 30px;
  display: inline-block;
}

h1 {
  font-size: 8em;
}

img {
  width: 100%;
}
.sacramento {
  font-family: "Sacramento";
}

.hero-image {
  background-image: url("assets/background-honeycomb.jpg");
  height: 500px;
  background-position: center;
  background-repeat: repeat-x;
}

.hero-text {
  padding: 100px;
  top: 50%;
}

.card {
  border: 1px solid black;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 20px;
  text-align: center;
  width: 100%;
  font-size: 18px;
  height: 100%;
}

.price {
  color: var(--dark2);
}
